/* FAQ Styles */
.container{
    padding: 20px 100px;
}
.container h1{
    color: #9b5e0e;
    text-align: center;
    font-weight: bold;
}
.p1{
    text-align: center;
    color: rgb(17, 102, 23);
    font-weight: 150;
}
.faq-section {
    margin-top: 2rem;
}

.faq-item {
    margin: 2rem 0rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.faq-question {
    width: 100%;
    text-align: left;
    background-color: #ffb347;
    color: white;
    padding: 1rem;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}

.faq-question:hover{
    opacity: 0.7;
}
.faq-question.active {
    background-color: #9b5e0e;
}

.faq-answer {
    display: none;
    padding: 1rem;
    background-color: #fff;
    color: #333;
    border-top: 1px solid #ddd;
}

.faq-answer p {
    margin: 0;
}

@media (max-width:600px){
    .container{
        padding: 20px 20px;
    }
}
