{% extends 'base.html' %}
{% load static %}

{% block head %}   
 <title>{% block title %}Edenfield Kindergarten{% endblock %}</title>
 <link rel="stylesheet" href="{% static 'css/classes.css' %}">

{% endblock %}

{% block content %}

<h1 class="classes-header">Our Classes</h1>
<p>At EdenField Kindergarten, we offer age-appropriate, engaging, and nurturing classes designed to support your child's development at every stage.</p>

<div class="class-card">
    <h2>Baby Class (2-3 years)</h2>
    <p>
      A gentle introduction to school life through guided play, storytelling, music, and sensory activities.
    </p>
  </div>
  
  <div class="class-card">
    <h2>Playgroup (3-4 years)</h2>
    <p>
      Focuses on social development, early language skills, fine motor activities, and interactive play.
    </p>
  </div>
  
  <div class="class-card">
    <h2>Pre-Primary 1 (PP1) - Ages 4-5</h2>
    <p>
      Builds foundational skills in numeracy, literacy, art, and environmental awareness. Aligned with Kenya's CBC curriculum.
    </p>
  </div>
  
  <div class="class-card">
    <h2>Pre-Primary 2 (PP2) - Ages 5-6</h2>
    <p>
      Prepares learners for Grade 1 with a focus on structured learning, problem-solving, creativity, and communication.
    </p>
  </div>
  
  <p style="color: green; text-align: center; padding-bottom: 20px; font-size: 25px; font-weight: bold;">
    Give your child the best start in life<br>
     Enroll today and invest in a brighter future.
</p>
  
{% endblock %}
