<!-- templates/portal/portal_landing.html -->

{% extends 'base.html' %}
{% load static %}
{% block head %}
{% block title %}<title>Kindergarten Portal</title>{% endblock %}
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
   <style>
    body {
    background-color: #f9f3f3;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'Segoe UI', sans-serif;
    }
    .card {
      border-radius: 20px;
      box-shadow: 0 6px 20px rgba(0,0,0,0.2);
      transition: transform 0.3s ease;
    }
    .card:hover {
      transform: scale(1.05);
    }
    .btn-custom {
      border-radius: 50px;
      padding: 10px 20px;
    }
  </style>
{% endblock %}


{% block content %}

  <div class="container text-center">
    <h1 class="mb-4" style="color: brown;">Welcome to Kindergarten Portal</h1>
    <p>Logged in as: {{ user.username }} ({{ user_role }})</p>
    <p class="text-light mb-5">Choose your role to continue</p>

    <div class="row justify-content-center">
      <!-- Parent -->
      <div class="col-md-3 mb-3">
        <div class="card p-4">
          <h3>Parent</h3>
          <p>Access your child's progress, fees, and attendance.</p>

    {% if user.is_authenticated and user_role == 'parent' %}

             <a href="{% url 'parent_dashboard' %}" class="btn btn-success btn-custom">Login as Parent</a>

          {% else %}

          <a href="{% url 'parent_portal' %}" class="btn btn-primary btn-custom">Login as Parent</a>

          {% endif %}
        </div>
      </div>

      <!-- Teacher -->
      <div class="col-md-3 mb-3">
        <div class="card p-4">
          <h3>Teacher</h3>
          <p>Manage classes, upload reports, and assignments.</p>

    {% if user.is_authenticated and user_role == 'teacher' %}

          <a href="{% url 'teacher_dashboard' %}" class="btn btn-success btn-custom">Login as Teacher</a>

          {% else %}

          <a href="{% url 'teacher_portal' %}" class="btn btn-success btn-custom">Login as Teacher</a>

          {% endif %}
        </div>
      </div>

      <!-- Admin -->
      <div class="col-md-3 mb-3">
        <div class="card p-4">
          <h3>Admin</h3>
          <p>Manage users, fees, and overall school operations.</p> 

    {% if user.is_authenticated and user_role == 'management' %}

          <a href="{% url 'management_dashboard' %}" class="btn btn-success btn-custom">Login as Admin</a>

          {% else %}

          <a href="{% url 'management_portal' %}" class="btn btn-danger btn-custom">Login as Admin</a>

          {% endif %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}


